body{
   background:#fff;
   color:#222;
   margin:1em 0 2em 6em;
   padding:0;
}

#gjs-loader {
    width: 50%;
    height: 50%;
    background: url('./public/ajax-loader.gif');
}

ul {
    list-style-type: none;
}

li {
    padding-top: 10px;
    padding-bottom: 10px;
}

li strong {
    background-color: #333;
    color: #888;
    font-weight: normal;
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
    font-size: 12px;
}

li strong em {
    padding: 0px 10px 0px 10px;
    font-size: 16px;
    font-style: normal;
    color: #ccc;
}
